.bg-roxo {
    background-color: #7e459B;
}
a:hover {
    text-decoration: none;
}

nav a:hover {
    font-weight: 500;
}
.carousel-item {
    object-fit: cover;
    object-position: 0 90%;
    height: 65vh;
}
.redes-sociais span {
    color: black;
}
.redes-sociais i {
    color: #7e459B;
}
.redes-sociais a:hover {
font-weight: 500;
color: #7e459B;
}
.mb-1 {
margin-bottom:20px;
}
.container2 {
    background-color: #7e459B;
}
/* .elementos i {
    margin-left: 40px;
} */
